<div class="blog-header">
  <div class="container">
    <h1 class="blog-title">Projects and coding thoughts</h1>
    <p class="lead blog-description">A place where you'll find my projects and writings, old and new</p>
   <span>
      <%= link_to 'Write a New Blog', new_blog_path if logged_in?(:site_admin) %>
    </span>
    <br>
    <span>
      <%= link_to "Topics", topics_path %>
    </span>  </div>
</div> 