<section class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading">My Portfolio</h1>
    <p class="lead text-muted">Here are some of my past experience and projects. It is way more to present in a few words what i had the chance to work on the past year. I aim to make it bigger and bigger through the years. </p>
    <p>
      <%= link_to 'Find Out More About Me', about_me_path, class: 'btn btn-primary' %>
      <%= link_to 'My Blog', blogs_path, class: 'btn btn-secondary' %>
      
    </p>
     
  </div>

</section> 