<div class="app-card-container">
  <div class="card">
<h1 >Would you like to know more or just say hi?</h1>

<hr>

<div class="row">
  <div class="col-md-6">
    <h3 class="text-grey">Approximate adress</h3>

    <p class="text-grey">Somewhere, near Alésia, Paris 75014 - Great place, really</p>

    <h3>Email</h3>

    <p class="text-grey"><a href="mailto:robin.neu.alt@protonmail.com?subject=PortfolioContact" "email me">robin.neu.alt@protonmail.com - (clic me!!)</a> </p>
  </div>

  <div class="col-md-6">
   <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d21011.95420294!2d2.3053294637541972!3d48.82970996901416!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e671b3a8a5404f%3A0x50b82c368941b20!2s14e+Arrondissement+de+Paris%2C+75014+Paris!5e0!3m2!1sfr!2sfr!4v1565029617989!5m2!1sfr!2sfr" width="450" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
  </div>
</div>
 </div>
</div>
