<div class="inner cover">
  <h1 class="cover-heading">Welcome.</h1>
  <p class="lead">You will find here pretty much everything you need to know about my abilities and skills. Don't hesitate to send me a message to get in touch.</p>
  <p class="lead">
    <%= link_to "About Me", about_me_path, class: "btn btn-outline-dark" %>
  </p>
</div>

  